<head>
    <link href="Content/app.css" rel="stylesheet" />
</head>
<div data-ng-controller="Shell as vm">
   
    <div class="clearfix">
        <div data-ng-include="'app/layout/header.html'"></div>
    </div>
    <section class="container-fluid">
        <div data-ng-view class="shuffle-animation"></div>
        We are going to build this app with good quality
    </section>
    <nav class="navbar navbar-fixed-bottom navbar-default footer">
        <div data-ng-include="'app/layout/footer.html'"></div>
    </nav>

</div>

