<head>
    <title />
    <link href="Content/app.css" rel="stylesheet" />
</head>

<div class="container-fluid" >
    <br /><br />
   <!--This is a sample page of HP
    {{test}} <br />
    Data from API -- {{myData}}-->
    <form novalidate class="simple-form">
        Name: <input type="text" ng-model="user.name" /><br />
        <!--E-mail: <input type="email" ng-model="user.email" /><br />
        Gender: <input type="radio" ng-model="user.gender" value="male" />male
        <input type="radio" ng-model="user.gender" value="female" />female<br />
        <input type="button" ng-click="reset()" value="Reset" />-->
        <input type="submit" ng-click="Update(user)" value="Send" />
    </form>
    

</div> <!-- /container-fluid -->


